body{
	background-color: black;
}

.stopwatch{
	background-color: rgb(41, 38, 38);
	width: 50%;
	margin: auto;
	height: 25vh;
	padding-top: 10px;
	margin-top:15%;
	padding-bottom: 20px;
}

button{
	background-color: rgb(243, 156, 156);
	border:1px solid black;
	width: 100px;
	height: 30px;
}